<header class="site-header2" >
    <div class="container">
        <div class="site-title-wrapper">
            {{ with .Site.Params.logo }}
                <a class="site-logo" title="{{ $.Site.Title }}" href="{{ $.Site.BaseURL }}">
                    <img src="{{ . }}" alt="{{ $.Site.Title }}" />
                </a>
            {{ else }}
                <h1 class="site-title">
                    <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                </h1>
            {{ end }}

            <!-- <a class="button-icon" href="{{ .Site.BaseURL }}index.xml"><i class="fa fa-rss"></i></a> -->

            {{ with .Site.Params.twitter }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="Twitter" title="Twitter" href="{{ . }}" rel="me">
                    <i class="fa fa-twitter"></i>
                </a>
            {{ end }}
            {{ with .Site.Params.facebook }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="Facebook" title="Facebook" href="{{ . }}" rel="me">
                    <i class="fa fa-facebook"></i>
                </a>
            {{ end }}
            {{ with .Site.Params.instagram }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="Instagram" title="Instagram" href="{{ . }}" rel="me">
                    <i class="fa fa-instagram"></i>
                </a>
            {{ end }}
            {{ with .Site.Params.gitlab }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="Gitlab" title="Gitlab" href="{{ . }}" rel="me">
                    <i class="fa fa-gitlab"></i>
                </a>
            {{ end }}
            {{ with .Site.Params.github }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="Github" title="Github" href="{{ . }}" rel="me">
                    <i class="fa fa-github-alt"></i>
                </a>
            {{ end }}
            {{ with .Site.Params.stackoverflow }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="Stack Overflow" title="Stack Overflow" href="{{ . }}" rel="me">
                    <i class="fa fa-stack-overflow"></i>
                </a>
            {{ end }}
            {{ with .Site.Params.linkedin }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="{{ . }}" rel="me">
                    <i class="fa fa-linkedin"></i>
                </a>
            {{ end }}
            {{ with .Site.Params.gplus }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="Google+" title="Google+" href="{{ . }}" rel="me">
                    <i class="fa fa-google-plus"></i>
                </a>
            {{ end }}
            {{ with .Site.Params.email }}
                <a target="_blank" class="button-icon button-social hint--top" data-hint="Email" title="Email" href="mailto:{{ . }}">
                    <i class="fa fa-envelope"></i>
                </a>
            {{ end }}
        </div>

        <ul class="site-nav">
            {{ partial "navigation.html" . }}
        </ul>
    </div>
</header>